*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-image: linear-gradient(90deg,rgb(118, 150, 238), rgb(133, 231, 248));
}
header{
    background-color: rgb(4, 129, 129);
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    
}

header img {
    width: 150px;
    border: 5px solid #fff;
    border-radius: 30px;
}

header nav ul li {
    color: #fff;
    text-transform:uppercase;
    display: inline;
    padding: 30px 30px;
}

header nav{
    padding: 80px;
}

header nav ul a{
    text-decoration: none;
}

header nav ul li:hover{
    background-color: #fff;
    color: black;
    padding: 20px 25px;
    transition: 1s;
}

.container-descricao{
    display: flex;
}

main h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 35px;
}
.container-descricao img{
    margin: 0px 25px;
    border-radius: 30px;
    box-shadow: 10px 10px 30px rgb(60, 109, 124);
    /*box-shadow: sobreamento 10px 10px 10px 10px e escolher a cor*/
}

.paragrafo-descricao p {
    font-size: 20px;
    text-align: justify;
    margin: 0px 25px 10px;
}

.accordion{
    padding: 25px;
}
.card-header{
    background-color: rgb(115, 205, 233);
    color: rgb(0, 10, 10);
}

.card-body{
    background-color: rgb(183, 228, 228);
}
